gradio>=4.27,<4.32.0
starlette<1.0.0
huggingface-hub>=0.20,<0.26
aiosqlite>=0.19,<1.0
httpx>=0.25,<1.0
python-telegram-bot>=20.0,<21.0
discord.py>=2.3,<3.0
pytz>=2023.3
loguru>=0.7,<1.0
aiofiles>=23.2,<24.0
